.main {
    background-color: rgb(230,232,234);
}

.underline {
    text-decoration: none;
}
/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    padding:8px 16px;
    background-color: #fff;
    align-items: center;
    height: 56px;
    box-shadow: rgb(51, 51, 51) 0px 1px 3px;

}
.header__left {
    display: flex;
    justify-content: space-between;
    
}
.logoweb {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.logoweb > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form {
    flex-grow: 1;
    border: none;
    background-color: rgb(240,242,245);
    border-radius: 20px;
    padding: 7px 8px 9px;
    display: flex;
    align-items: center;
}
.form__btn {
    background-color: transparent;
    border: none;
    margin-right: 2px;
    color:rgb(101,103,107);
    
}
.form input {
    background-color: transparent;
    border: none;
    outline: none;
}
.nav {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav__item {
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height:100%;
}
.nav__item:hover {
    background-color: rgba(101,103,107,0.2);
    border-radius: 8px;
}.nav__item:first-child:hover {
    background-color: transparent;
} 
.nav__item:hover .box-down {
    display: block;
}
.box-down {
    position: absolute;
    padding: 8px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
    color:rgba(255,255,255,0.8);
    text-transform: capitalize;
    min-width: max-content;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    display: none;
}
.nav__item i {
    color:rgb(101,103,107);
    font-size: 23px;
}
.nav__item:first-child i{
    color:rgb(27,116,228);
}
.nav__item::after {
    bottom: -8px;
    content: "";
    display: none;
    width: 100%;
    height:2px;
    background-color:rgb(27,116,228);
    position: absolute;
}
.nav__item:first-child:after {
    display: block;
}
.nav__link {
    width: 100%;
    text-align: center;
}
/*  */
.header__account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.header__account-item {
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: rgba(101,103,107,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    position: relative;
}
.header__account-item a i {
    color: #000;
}

.header__account-avatar img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__account-item:hover .box-down {
    display: block;
}
.header__account-avatar::after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;   
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
}
.box-down--end {
    right: 0;
    transform: translateX(-90%);
}
/* content */

.content {
    padding-top: 85px;
}
.content__left{
    max-height: calc(100vh - 85px);
    overflow: auto;
    position:fixed;
}
.content__feed{
    height: 200vh;
}
.content__contact {
    background-color: red;
    height: 100vh;
    position: fixed;
    top: 85px;
    right: 0;
    max-height: calc(100vh - 85px);
    overflow: auto;
}
.content__navbar {
    padding-bottom: 20px;
    list-style: none;
    border-bottom: 1px solid #000;
    height: auto;
}
.content__navbar-item {  
    padding:8px;
}
.content__navbar-item:hover {
    border-radius: 8px;
    background-color: rgba(255,255,255,0.4);
}
.content__link img {
    width:28px;
    height:28px;
    border-radius: 50%;
}
.content__link {
    display: flex;
    align-items: center;
}
.content__link i {
    width: 28px;
    text-align: center;
    font-size: 20px;
}
.content__link span {
    margin-left: 10px;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
}
/*  */
/* .content__shortcuts {
    padding:10px;
} */
.content__title {
    font-size:20px;
    line-height: 24px;
    color:#65676b;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 10px;
}
.content__shortcut {
    display: block;
    display: flex;
    align-items: center;
    padding: 10px;
}
.content__shortcut:hover {
    border-radius: 8px;
    background-color: rgba(255,255,255,0.4);
}
.content__shortcut > img {
    width: 28px;
    height:28px;
    border-radius: 50%;
    margin-right: 10px;
}
.content__shortcut span {
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
}