html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.content__storys {
    width:100%;
    display:flex;
    position: relative;
    margin-left: -4px;
    margin-right: -4px;
}
.content__story {
    width:20%;
    padding: 0px 4px;
    border-radius: 8px;
    position: relative;
    height: 198px;
}
.content__user-avatar {
    width:40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    border:4px solid rgb(24, 118, 242);
    top: 12px;
    left: 12px;
}
.content__bg-story {
    width:100%;
    display: block;
    height:100%;
    border-radius: 8px;
}
.content__user-name {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    color:#fff;
    text-transform: capitalize;
}
.content__story--first .content__bg-story {
    border-bottom-left-radius:0px ;
    border-bottom-right-radius: 0px;
    height: 65%;
}
.content__story--first div {
    width: 100%;
    height:35%;
    background-color: #fff;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius: 8px;
    position: relative;
}
.content__story-btn {
    width:40px;
    height: 40px;
    background-color: rgb(24, 118, 242);
    border-radius: 50%;
    border: 4px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
}
.content__story-btn  i {
    color:#fff;
}
.content__story--first div span {
    text-transform: capitalize;
    position: absolute;
    font-weight: 600;
    bottom: 12px;
    left: 50%;
  transform: translate(-50%,-50%);
}
.content__storys-next {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    right: 0;
    top: 50%;
    transform: translate(+50%,-50%);
    box-shadow: rgb(60, 59, 59) 0px 1px 4px;
    cursor: pointer;
}
.content__storys-next i {
    color: #000;
}